<a href="https://colab.research.google.com/github/Baidunafter/university/blob/main/Tasks/%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Леонов Константин Михайлович*  

---

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
student_name = 'Константин'
print(student_name)

Константин

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [ ]:
print('Несколько строк текста\nкаждая из которых\nотображается с новой строки')

Несколько строк текста
каждая из которых
отображается с новой строки

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [ ]:
a,b = 7,8
print(f'{a} + {b} = {a+b}')

7 + 8 = 15

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [ ]:
numbers =[]
for i in range(3):
  numbers.append(int(input('Введите 3 разных числа: ')))

if len(list(set(numbers))) == 3:
  print(f'{numbers[0]} * {numbers[1]} * {numbers[2]} = {numbers[0]*numbers[1]*numbers[2]}')
else:
  print('Введите разные числа')

Введите 3 разных числа: 2
Введите 3 разных числа: 3
Введите 3 разных числа: 4
2 * 3 * 4 = 24

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [ ]:
full_name=str(input('Введите свое ФИО полностью: ')).split(' ')

if len(full_name) == 3:
  print(f'{full_name[0]} {full_name[1][:1]}. {full_name[2][:1]}.')
else:
  print('Введите фамилию имя и отчество в три слова через пробел')

Введите свое ФИО полностью: Леонов Константин Михайлович
Леонов К. М.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [ ]:
user_string = input('Введите строку: ')
user_char = input('Введите символ: ')
print(f'Символ "{user_char}" встречается в строке "{user_string}" {user_string.count(user_char)} раз(а)')

Введите строку: aaaaaabbbcccccc
Введите символ: b
Символ "b" встречается в строке "aaaaaabbbcccccc" 3 раз(а)

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [ ]:
fav_colour = input('Введите ваш любимый цвет: ')
print(f'{fav_colour} - красивый цвет!')

Введите ваш любимый цвет: Красный
Красный - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [ ]:
user_string = input('Введите строку: ')
print(f'Стока "{user_string}" в длину составляет {len(user_string)} символов')

Введите строку: 1234567890
Стока "1234567890" в длину составляет 10 символов

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [ ]:
num = 42
print(num, type(num))

42 <class 'int'>

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [ ]:
print(int((17 * 3) + (10 / 2)))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [ ]:
a = '100'
print(int(a)+25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [ ]:
a = 7
print(a, type(a))

7 <class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [ ]:
a,b = 5,4
print(f'{a} - {b} = {a-b}')

5 - 4 = 1

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [ ]:
num = float(input('Введите вещественное число: '))
print(f'{num}^2 = {num**2}')

Введите вещественное число: 54.1
54.1^2 = 2926.81

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [ ]:
num = float(input('Введите вещественное число: '))
print(f'{round(num,2)}')

Введите вещественное число: 3.1415
3.14

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [ ]:
a, b = 2.5, 4.7
print(f'{a} + {b} = {a+b}')

2.5 + 4.7 = 7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [ ]:
num_c = float(input('Введите градусы по Цельсию: '))
num_f = num_c * 9/5 + 32
print(f'{num_c} °C = {num_f} °F')

Введите градусы по Цельсию: 24.5
24.5 °C = 76.1 °F

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [ ]:
a = float(input('Введите длинну прямоугольника: '))
b = float(input('Введите ширину прямоугольника: '))
print(f'Площадь прямоугольника: {a*b}\nПериметр прямоугольника: {(a+b)*2}')

Введите длинну прямоугольника: 4.5
Введите ширину прямоугольника: 3
Площадь прямоугольника: 13.5
Периметр прямоугольника: 15.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [ ]:
a = 'Python - самый популярный язык программирования'
print(a)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [ ]:
a = 'Привет, мир!'
print(f'Первый символ: "{a[:1]}" \nПоследний символ: "{a[-1:]}"')

Первый символ: "П"
Последний символ: "!"

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [ ]:
words = ["МИИГАиК - " , "Лучший ", "ВУЗ!"]
print(''.join(words))

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [ ]:
a = '12345'
a = int(a)
print(a, type(a))

12345 <class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [ ]:
a = 'python is Fun'
print(a.upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [ ]:
a = [10, 20, 30, 40, 50]
print(*a)

10 20 30 40 50

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [ ]:
a.append('новый элемент')
print(*a)

10 20 30 40 50 новый элемент

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [ ]:
a = ['python', 'java', 'c++', 'ruby', 'perl']
print(a[1:4])

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [ ]:
a = []
a.extend([1,2,3])
print(a)

[1, 2, 3]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [ ]:
a = [1, 2, 3, 4, 5]
a[1] = 200
print(a)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [ ]:
a = (1, 2, 3, 4, 5)
print(a)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [ ]:
a[0] = 200 # кортежи - упорядоченные неизменяемые коллекции
print(a)

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [ ]:
b = str(a)
print(b, type(b))

(1, 2, 3, 4, 5) <class 'str'>

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [ ]:
find_num = input('Введите искомое число: ')
if a.find(find_num) != -1:
  print("Число содержится в кортеже")
else:
  print('Число не содержится в кортеже')

Введите искомое число: 6
Число не содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [ ]:
a = (1,2,3,1,4,5,1)
inp = input('Введите искомое число: ')
print(f'В кортеже {a} элемент {1} встречается {a.count(inp)} раз(а)')

Введите искомое число: 1
В кортеже (1, 2, 3, 1, 4, 5, 1) элемент 1 встречается 0 раз(а)

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [ ]:
a = {"имя": "Константин", "возраст": "22", "город": "Москва"}
print(a)

{'имя': 'Константин', 'возраст': '22', 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [ ]:
print(a['имя'])

Константин

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [ ]:
a.update({'профессия':'безработный'})
print(a)

{'имя': 'Константин', 'возраст': '22', 'город': 'Москва', 'профессия': 'безработный'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [ ]:
a.pop('город')
print(a)

{'имя': 'Константин', 'возраст': '22', 'профессия': 'безработный'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [ ]:
a = {}
user_key = input('Введите ключ: ')
user_value = input('Введите значение: ')
a[user_key] = user_value
print(a)

Введите ключ: key
Введите значение: value
{'key': 'value'}